body {
    margin: auto;
    font-family: 'Itim', 'Athiti', cursive, sans-serif;
    font-size: 18px;
    display: grid;
    background-color: rgb(34, 33, 32);
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 2%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: orange;
    width: 95%;
    height: 30em;
}

.div2 {
    margin: auto;
    display: inline-flex;
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(66, 64, 63);
    text-align: center;
    width: 95%;
    height: 5em;
    justify-content: space-around;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
    background-color: antiquewhite;
    text-align: center;
    width: 95%;
    height: 100%;
    row-gap: 1em;
}

::-webkit-scrollbar {
    width: 1em;
    height: auto;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(228, 228, 228, 0.803);
    border-radius: 1em;
    height: 1em;
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(228, 228, 228, 0.5);
}


/* ------------- TopMenu --------------- */

.logo {
    color: orange;
    text-shadow: 0px 1px 15px rgb(27, 118, 63);
    font-weight: bold;
    font-size: 1.3em;
}

.topMenu {
    font-size: 1.2em;
}

.topMenu a,
.topMenu a:visited {
    color: azure;
}

.topMenu a:hover {
    color: rgb(255, 128, 0);
    text-shadow: 0px 1px 8px rgb(142, 82, 4);
    transition: all 0.25s;
}

.topMenu a:active {
    transform: scale(0.8);
}

/* -------- image -------- */
img {
    text-align: center;
}

/* -------- button ------- */
button, button:visited {
    font-family: 'Itim', 'Athiti', cursive, sans-serif;
    font-size: 18px;
    font-weight: 600;
    width: 15%;
    height: 4.5em;
    background-color:rgb(255, 128, 0);
    border-radius: 10%;
    border-color: rgb(174, 87, 0);
    color : black;
}

button:hover {
    color: aliceblue;
    background-color:rgb(186, 106, 26) ;
    transition: all 0.2s;
}
